<!DOCTYPE html>
<html>
  <head>
    <title>StoreKey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Store and retrieve a key </h1>
    <p><span id='notice' style = "color:red"><%= notice %></span></p>
    <%= yield %>
  </body>
</html>
